*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: Verdana, Geneva, sans-serif;
}

.video-container {
    max-width: 1000px;
    width: 90%;
    margin-inline: auto;
    margin-top: 2rem;
    position: relative;
    background-color: #000;
    display: flex;
    justify-content: center;
}

.video {
    width: 100%;
}

.video-container.theater,
.video-container.full-screen {
    max-width: initial;
    width: 100%;
}

.video-container.theater {
    max-height: 80vh;
}

.video-container.full-screen {
    max-height: 100vh;
}

.video-container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    opacity: 0;
    transition: 150ms opacity ease-in-out;
    pointer-events: none;

}
.video-container:hover::after,
.video-container.paused::after,
.video-container:focus-within::after {
    opacity: 1;
}

/* controls container */
.video-controls-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .5rem;
    opacity: 0;
    transition: 150ms opacity ease-in-out;
    z-index: 9;
}

.video-container:hover .video-controls-container,
.video-container:focus-within .video-controls-container,
.video-container.paused .video-controls-container {
    opacity: 1;
}

/* progress bar */
.progress {
    position: relative;
    width: 97%;
    margin: 0 auto;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.progress-bar {
    width: 100%;
    height: 5px;
    border-radius: 1.5px;
    overflow: hidden;
    background-color: rgb(128, 128, 128);
    position: relative;
    transition: height 150ms ease-in-out;
}

.progress:hover .progress-bar,
.progress.isMouseDown .progress-bar {
    height: 7px;
}

.progress-bar::after {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    right: calc(100% - var(--videoProgress) * 100%);
    bottom: 0;
    background-color: red;
}

.progress-bar::before {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    bottom: 0;
    right: calc(100% - var(--hoverPosition) * 100%);
    background-color: rgb(185, 185, 185);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.progress:hover .progress-bar::before,
.progress.isMouseDown .progress-bar::before {
    opacity: 1;
}

.progress-current {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: red;
    transform: translateX(-50%) scale(.75);
    position: absolute;
    left:  calc(var(--videoProgress ) * 100%);
    opacity: 0;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.progress:hover .progress-current,
.progress.isMouseDown .progress-current {
    opacity: 1;
}

.progress-current:hover {
    transform: translateX(-50%) scale(1);
}

/* control bar */
.controls {
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: .25rem .5rem;
    color: #fff;
}

.controls button {
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    opacity: .8;
}

.controls button:hover {
    opacity: 1;
}

.video-container.paused .pause-icon {
    display: none;
}

.video-container:not(.paused) .play-icon {
    display: none;
}

.video-container.theater .tall {
    display: none;
}

.video-container:not(.theater ) .wide {
    display: none;
}

.video-container.full-screen .open {
    display: none;
}

.video-container:not(.full-screen ) .close {
    display: none;
}

/* volume */

.volume-container {
    display: flex;
    align-items: center;
}

.volume-low-icon,
.volume-muted-icon,
.volume-high-icon {
    display: none;
}

.volume-container[data-volume="muted"]  .volume-muted-icon,
.volume-container[data-volume="high"]  .volume-high-icon,
.volume-container[data-volume="low"]  .volume-low-icon {
    display: block;
}

.volume-slider {    
    transform-origin: left;
    transform: scaleX(0);
    width: 0;
    transition: 150ms width ease-in-out, 150ms transform ease-in-out;;
}

.volume-container:hover .volume-slider,
.volume-container:focus-within .volume-slider {    
    transform: scaleX(1);
    width: 130px;
}

/* duration */
.duration-container {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-inline: .25rem;
    flex: 1;
    pointer-events: none;
}

/* subtitle */
.video-container.subtitle .captions-btn {
    border-bottom: 3px solid red;
}